<!-- <div [ngStyle]="{'height.px': height, 'width.px': width}">
  <table class="flex-table">
    <thead>
      <th draggable="true"
          *ngFor="let column of columns; index as colIndex; trackBy: trackByFn"
          [attr.data-header-id]="colIndex"
          id="{{'table-header-' + colIndex}}">{{ column.title }}</th>
    </thead>

    <tbody>
      <tr draggable="true"
          *ngFor="let row of data; index as rowIndex; trackBy: trackByFn">
        <td *ngFor="let column of columns; index as colIndex; trackBy: trackByFn"
            id="{{'table-cell-' + rowIndex + '-' + colIndex}}"
            [attr.data-column-id]="colIndex"
            [attr.data-row-id]="rowIndex">
          <field-template [fieldData]="row[column.data]"
                          [fieldOptions]="column.dropdownOptions"
                          [fieldType]="column.type"
                          (fieldUpdated)="updateEvent($event)"></field-template>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->